* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.menutop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 100%;
  line-height: 50px;
}

.logo a {
  color: #82ae46;
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
}

.log a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.log a:hover {
  color: crimson;
}

.banner img {
  width: 100%;
  height: 70%;
}

.menumiddle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: antiquewhite;
  width: 100%;
  line-height: 50px;
  margin-bottom: 20px;
}

.menumiddle nav {
  display: table-cell;
  vertical-align: middle;
  width: 65%;
}

.menumiddle nav ul {
  text-align: center;
  padding-left: 10px;
}

.menumiddle nav ul li {
  display: inline-block;
  font-size: 16px;
  margin-left: 100px;
  position: relative;
}

.menumiddle nav ul li:hover ul {
  display: block;
}

.menumiddle nav ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
  background: #f3f7ed;
  text-align: left;
  padding: 10px;
  display: none;
  z-index: 2;
}

.menumiddle nav ul li ul li {
  width: 100%;
  line-height: 40px;
  margin: 0;
}

.menumiddle nav ul li ul li a {
  color: #353535;
}

.menumiddle nav ul li ul li a:hover {
  color: crimson;
}

.menumiddle nav ul a {
  text-decoration: none;
  color: #353535;
}

.menumiddle nav ul a:hover {
  color: crimson;
}

#xemthem {
  text-align: end;
}

#xemthem a:hover {
  color: crimson;
}
#xemthem1 {
  text-align: end;
}

#xemthem1 a:hover {
  color: crimson;
}
#xemthem2 {
  text-align: end;
}
#xemthem a {
  color: black;
  font-size: 14px;
  font-weight: 100;
}
#xemthem i {
  font-size: 10px;
}
#xemthem2 a:hover {
  color: crimson;
}

.main h3 {
  padding-left: 20px;
}
section .main {
  padding-top: 20px;
}

.mot,
.hai,
.ba {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.sanpham {
  border: 3px solid saddlebrown;
}

.sanpham {
  text-align: center;
}
.ten {
  font-size: 15px;
  font-weight: bold;
}
.gia,
.gia1 {
  font-size: 14px;
  color: #00bcd4;
  padding-top: 10px;
}

img {
  width: 210px;
  height: 250px;
  margin: 5px;
}

.gia1 p {
  text-decoration: line-through;
}
a {
  text-decoration: none;
}
.nut {
  margin-top: 10px;
}
button {
  border: none;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #00bcd4;
}
.nut a {
  color: #fff;
}
.nut button:hover {
  background: #353535;
}
/* .nut a:hover {
  color: crimson;
} */

.end {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  padding-bottom: 25px;
  background-color: antiquewhite;
}

.ft1 {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.one,
.two {
  width: 90%;
  margin-left: 5px;
}

.one {
  padding-right: 20px;
  padding-left: 90px;
}

.one h2,
.two h2,
.three h2 {
  color: #353535;
  font-size: 14px;
  padding-bottom: 20px;
}

.one p {
  width: 90%;
  color: #353535;
  padding-bottom: 15px;
  font-size: 15px;
}

.two {
  text-align: justify;
  padding-left: 140px;
}
.two p {
  color: #353535;
  font-size: 15px;
  padding-bottom: 15px;
}
.two a:hover {
  color: crimson;
}
.two a {
  color: black;
}
.three {
  width: 90%;
  margin-left: 5px;
  text-align: justify;
}
.three p {
  font-size: 15px;
  padding-bottom: 15px;
}
